
/* steps
1- * 
2- body we need to fix the heigt we planing to use and the footer also in the body
3-fix the contaner 
4-fix the cards contaner 
5-fix the front and back for each card 
6-add 3d transform and edit the speed

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;


  
}


body {
  height: 100vh;
  background-image: linear-gradient(to right top, #9331e0, #793fd9, #6147d1, #4a4cc6, #354eb9, #1f5fc2, #056ec8, #007dcc, #009ee1, #00bfed, #00def1, #5ffbf1);
/* background-size: cover;
background-position: center; */
  display: flex;
flex-direction: column;

  overflow: hidden;

}
/* another way to fix the contaner  */
/* .contaner{
  display: flex;
  flex-direction: column;
justify-content: center;
  } */

.contaner{
margin: auto;
}

.cards {
  width: 80vh;
  height: 80vh;
  margin: auto;
/* we  */
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  /* for 3D && transform-style 3d for the card you  flip it  */
  /* will insert memory card element insid the 3d the 3d space    */
  /* otherwise will be in 2d and will be flat in the 2d   */
  perspective: 1000px;

}
/*   position: relative;
beacus we wont to fix the place for the cards we nedd to use   position: relative;
and   position: absolute; 
its like the element ask the perent box if thay are positiond box untell thay find the one is position
if it was position will be reletiv to it 
*/
.card {

  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  /*becaus the margen we have overflow on card so we need to calculat the width and height    */
  /* -_- */
  width: calc(25% - 10px);
  height: calc(30% - 10px); 
}



/* transform: scale(0.7); */
/* Click Effect to the card  will be active winever get Click */
/* transform scale 0.7 of the oreginal  */

/* transition: transform 0.4s; */
/* make it bit smoother by applying transition to it */

.card:active {
  transform: scale(0.7);
  transition: transform 0.4s;
}

.card.flip {
  transform:rotateY(180deg) ;
}

.front-card  , .back-card
  {
  width: 100%; 
  height: 100%;
  padding: 0px;
  position: absolute;
  backface-visibility: hidden;
  }

.front-card {
  transform: rotateY(180deg);

}

/* rotateY if we use rotate without y will not work and will rotate the card in 2d  */








/* footer */
.details{

  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  gap: 20px;
}



.details p{
  font-size: 30px;
  height: 17px;
  padding-right: 18px;
  border-right: 1px solid #ccc;
}
.details p span{
  margin-left: 8px;
}

.details p b{
  font-weight: 500;
}



/* button style  */

 button:hover{
  color: #ffffffbe;
  background: #673AB7;
}
 button{
  cursor: pointer;
  font-size: 20px;
  color: #673AB7;
  border-radius: 4px;
  padding: 3px 8px;
  background: #fff;
  border: 2px solid #673AB7;
  transition: 0.3s ease;
}


/* .cards{
  width: 60vh;
  height: 60vh;
  margin: auto;
}
.card .front-card {
    font-size: 35px;
}
.card .back-card {
    font-size: 35px;
} */





/*  not 100% good need to be fixed  */
/* media query */

@media screen and (max-width: 700px) {
  .cards{
    width: 60vh;
    height: 60vh;
    margin: auto;
  }
  .card .front-card {
      font-size: 35px;
  }
  .card .back-card {
      font-size: 35px;
  }
  .details button:hover{
    color: #ffffffbe;
    background: #673AB7;
  }
  .details button{
    height: 25px;

  }
  
}

@media screen and (max-width: 530px) {
  .cards{
      height: 300px;
      width: 300px;
  }
  .cards .back-card {
      font-size: 30px;
  }
  .details{
      margin-top: 10px;
      padding: 0 15px;
      height: calc(100% / 4 - 20px);
  }

  .details p{
      height: 15px;
      font-size: 17px;
      padding-right: 13px;
  }

  .details button{
    height: 25px;
      font-size: 13px;
      padding: 5px 10px;
      border: none;
      color: #fff;
      background: #f1f0f2;
  }
  
}





/* .shake : we can use it to till the (user) the cards different 
I didn't add it to js*/
/* 
.card.shake{
  animation: shake 0.35s ease-in-out;
}

@keyframes shake{
  0%, 100%{
      transform: translateX(0);
  }
  20%{
      transform: translateX(-10px);
  }
  40%{
      transform: translateX(10px);
  }
  60%{
      transform: translateX(-5px);
  }
  80%{
      transform: translateX(5px);
  }
} */








/* //footer */

footer{

  width: 200px;
  height: 200px;
  margin: auto;
  display: flex;
justify-content: center;

padding: 10px;
}

.F_content{
  display: flex;
  justify-content: center;
  flex-direction: row;
gap: 30px;
padding-top: 0px;
}
.null{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;


}












/* Modal styles */
/* some help from GPT  */
.modal {
  display: none;
  position: fixed;

  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}
.modal-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  background-color: #73cded;
  
  margin: auto;
  padding: 20px;
  gap:17px ;
  
  
  border: 1px solid #888;
  width: 80%; /*  depending on screen size */
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
  text-align: start;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}