
li{
    
    list-style-type: none
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    

    
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    
    background-color:purple;

}
p{
    font-size: 30px;
}

.wrapper{
    margin-top: 150px;
    background-color: aliceblue;
    padding: 25px;
    border-radius: 20px;
}
img{
    width: 100px;
    height: 120px;
}
.card , .cards , .view ,.details {
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    padding-bottom: 80px;
}
.details{
    gap: 60px;
}


.cards{

    flex-wrap: wrap;
    justify-content:space-between ;
}

/* will have pointer for the img and the hit is fix */

/* -->transform-style is set to preserve-3d, it means that the children of the element will be positioned in 
a 3D space according to any transform properties applied to them */

/*-->   Definition: This property sets the height of the element.
 Effect: The calc() function allows you to perform calculations to
 determine the value of a property. Here, it calculates the height as 
 one-fourth of the containing element's height (100%/4), minus 10 pixels.
  This means that the element will be slightly less 
 than one-fourth of the height of its parent element. */

.cards .card{
    cursor: pointer;
    position: relative;
    perspective: 1000px;
     transform-style: preserve-3d;
    height: calc(100%/4 - 10px);
    width: calc(100%/4 - 10px); 
} 


/* shake the card  
/* from gogle */

.card.shake{
    animation: shake 0.35s ease-in-out;
}
@keyframes shake{
    0%, 100%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-13px);
    }
    40%{
        transform: translateX(13px);
    }
    60%{
        transform: translateX(-8px);
    }
    80%{
        transform: translateX(8px);
    }
}

.cards .card .view{
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    position:re;
    background: #fff;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform 0.25s linear;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);

}


