

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;


  
}


body {
  height: 100vh;
  background-image: linear-gradient(to right top, #9331e0, #793fd9, #6147d1, #4a4cc6, #354eb9, #1f5fc2, #056ec8, #007dcc, #009ee1, #00bfed, #00def1, #5ffbf1);
  display: flex;
flex-direction: column;

  overflow: hidden;

}


.contaner{
margin: auto;
}

.cards {
  width: 80vh;
  height: 80vh;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  padding: 20px;

  perspective: 1000px;

}

.card {

  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;

  width: calc(25% - 10px);
  height: calc(30% - 10px); 
}



.card:active {
  transform: scale(0.7);
  transition: transform 0.4s;
}

.card.flip {
  transform:rotateY(180deg) ;
}

.front-card  , .back-card
  {
  width: 100%; 
  height: 100%;
  padding: 0px;
  position: absolute;
  backface-visibility: hidden;
  }

.front-card {
  transform: rotateY(180deg);

}







.details{

  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  gap: 20px;
}



.details p{
  font-size: 30px;
  height: 17px;
  padding-right: 18px;
  border-right: 1px solid #ccc;
}
.details p span{
  margin-left: 8px;
}

.details p b{
  font-weight: 500;
}




 button:hover{
  color: #ffffffbe;
  background: #673AB7;
}
 button{
  cursor: pointer;
  font-size: 20px;
  color: #673AB7;
  border-radius: 4px;
  padding: 3px 8px;
  background: #fff;
  border: 2px solid #673AB7;
  transition: 0.3s ease;
}



@media screen and (max-width: 700px) {
  .cards{
    width: 60vh;
    height: 60vh;
    margin: auto;
  }
  .card .front-card {
      font-size: 35px;
  }
  .card .back-card {
      font-size: 35px;
  }
  .details button:hover{
    color: #ffffffbe;
    background: #673AB7;
  }
  .details button{
    height: 40px;

    cursor: pointer;
    font-size: 25px;
    color: #673AB7;
    border-radius: 4px;
    padding: 3px 8px;
    background: #fff;
    border: 2px solid #673AB7;
    transition: 0.3s ease;
  }
  
}

@media screen and (max-width: 530px) {
  .cards{
      height: 300px;
      width: 300px;
  }
  .cards .back-card {
      font-size: 30px;
  }
  .details{
      margin-top: 10px;
      padding: 0 15px;
      height: calc(100% / 4 - 20px);
  }

  .details p{
      height: 15px;
      font-size: 17px;
      padding-right: 13px;
  }

  .details button{
    height: 25px;
      font-size: 5px;
      padding: 5px 10px;
      border: none;
      color: #fff;
      background: #f1f0f2;
  }
  
}






footer{

  width: 200px;
  height: 200px;
  margin: auto;
  display: flex;
justify-content: center;

padding: 10px;
}

.F_content{
  display: flex;
  justify-content: center;
  flex-direction: row;
gap: 30px;
padding-top: 0px;
}
.null{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;


}













.modal {
  display: none;
  position: fixed;

  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
}
.modal-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  background-color: #73cded;
  
  margin: auto;
  padding: 20px;
  gap:17px ;
  
  
  border: 1px solid #888;
  width: 80%; 
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  color: #aaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
  text-align: start;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}